html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100%;
  background-color: #fff;
}

.btn:focus-visible,
.nav-link:focus-visible,
.form-control:focus,
.form-select:focus,
.form-check-input:focus,
a:focus-visible {
  box-shadow: 0 0 0 0.15rem #fff, 0 0 0 0.35rem rgba(13, 110, 253, 0.65);
  outline: 0;
}

.field-validation-valid,
.validation-summary-valid {
  display: none;
}

table th {
  white-space: nowrap;
}

code {
  overflow-wrap: anywhere;
}
